parameters:
    level: 2
    reportUnmatchedIgnoredErrors: false
    paths:
        - .
    ignoreErrors:
        - '#Variable \$block might not be defined.#'
        - '#Undefined variable: \$block#'
    fileExtensions:
        - php
        - phtml
    excludePaths:
        - docker/*
        - vendor/*
        - Service/Client/ClientFactory.php
includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
