//
//  [ Buttons ]: Mixin
//  ---------------------------------------------

.button_base(
  @bg: @btn-bg,
  @bg-hover: @btn-hover-bg,
  @border: @btn-border,
  @color: @btn-color,
  @color-hover: @btn-hover-color,
  @icon-width: 25px,
  @icon-color: @color,
  @icon-color-hover: @color-hover
) {
  & when not (@bg = none) {
    background-color: @bg;
  }

  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  border: 1px solid @border;
  border-radius: 20px;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem 2.2rem;
  color: @color !important;
  text-decoration: none !important;
  transition: .3s;

  &:hover {
    & when not (@bg-hover = none) {
      background-color: @bg-hover;
    }

    color: @color-hover !important;

    i[class*="icon"] {
      & when not (@icon-color = none) {
        fill: @icon-color-hover;
      }
    }
  }

  i[class*="icon"] {
    & when not (@icon-width = none) {
      width: @icon-width;
      height: @icon-width;
    }

    & when not (@icon-color = none) {
      fill: @icon-color;
    }

    transition: .3s;
  }
}