form[action*="truelayer"] {
  //
  //  [ Debug ]: Heading
  //  ---------------------------------------------

  .tl-heading-block {
    display: flex;
    padding: 1rem;

    border-left: 3px solid @charcoal100;
    background-color: @light-gray;

    color: @charcoal100;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 20px;
  }

  .tl-heading-comment {
    padding: 1.2rem 0 0 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }


  //
  //  [ Debug ]: Show more/less
  //  ---------------------------------------------
  .tl-show-more-actions {
    margin: 8px 0 0 12px;

    span {
      color: @text-danger-color;
      font-size: 1.2rem;
      text-decoration: underline;
      transition: .3s;
      cursor: pointer;

      &:hover {
        opacity: .75;
      }
    }
  }

  .tl-heading-comment {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    &.show {
      -webkit-line-clamp: initial;
    }

    span {
      display: block;

      & + span {
        margin-top: 10px;
      }
    }
  }

  //
  //  [ Debug ]: Button
  //  ---------------------------------------------
  #truelayer-button_debug,
  #truelayer-button_error {
    &::before {
      content: @icon-info__content;
      font: 1.5rem @icons-admin__font-name;
    }
  }
}