<?xml version="1.0"?>
<!--
/**
 * Copyright © TrueLayer Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="TrueLayer\Connect\Api\Config\RepositoryInterface" type="TrueLayer\Connect\Model\Config\Repository"/>
    <preference for="TrueLayer\Connect\Api\Log\LogService" type="TrueLayer\Connect\Service\Log\LogService"/>
    <preference for="TrueLayer\Connect\Api\Webapi\CheckoutInterface" type="TrueLayer\Connect\Model\Webapi\Checkout" />
    <preference for="TrueLayer\Connect\Api\Transaction\Data\DataInterface" type="TrueLayer\Connect\Model\Transaction\DataModel" />
    <preference for="TrueLayer\Connect\Api\Transaction\RepositoryInterface" type="TrueLayer\Connect\Model\Transaction\Repository" />
    <preference for="TrueLayer\Connect\Api\Transaction\Data\SearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="TrueLayer\Connect\Api\Webapi\WebhookInterface" type="TrueLayer\Connect\Model\Webapi\Webhook" />
    <preference for="TrueLayer\Connect\Api\Webapi\PendingInterface" type="TrueLayer\Connect\Model\Webapi\Pending" />
    <preference for="TrueLayer\Connect\Api\User\RepositoryInterface" type="TrueLayer\Connect\Model\User\Repository" />

    <type name="TrueLayer\Connect\Service\Log\ErrorLogger">
        <arguments>
            <argument name="name" xsi:type="string">TrueLayerError</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">TrueLayer\Connect\Service\Log\Handler\Error</item>
            </argument>
        </arguments>
    </type>

    <type name="TrueLayer\Connect\Service\Log\DebugLogger">
        <arguments>
            <argument name="name" xsi:type="string">TrueLayerDebug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">TrueLayer\Connect\Service\Log\Handler\Debug</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="TrueLayerFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">TrueLayer\Connect\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">TrueLayer\Connect\Block\Info\Base</argument>
            <argument name="valueHandlerPool" xsi:type="object">TrueLayerValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">TrueLayerCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">TrueLayerValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="TrueLayerCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">TrueLayerAuthorizePaymentCommand</item>
                <item name="refund" xsi:type="string">TrueLayerRefundPaymentCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="TrueLayerAuthorizePaymentCommand" type="TrueLayer\Connect\Gateway\Command\AuthorizePaymentCommand" />
    <virtualType name="TrueLayerRefundPaymentCommand" type="TrueLayer\Connect\Gateway\Command\RefundPaymentCommand" />

    <virtualType name="TrueLayerValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TrueLayerConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="TrueLayerConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">TrueLayerConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="TrueLayerConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">TrueLayer\Connect\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- TrueLayer validators infrastructure -->
    <virtualType name="TrueLayerValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="currency" xsi:type="string">TrueLayerCurrencyValidator</item>
                <item name="country" xsi:type="string">TrueLayerCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TrueLayerCurrencyValidator" type="TrueLayer\Connect\Gateway\Validator\CurrencyValidator">
        <arguments>
            <argument name="config" xsi:type="object">TrueLayerConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="TrueLayerCountryValidator" type="TrueLayer\Connect\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">TrueLayerConfig</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Payment\Model\MethodList">
        <plugin name="restrict_payment_on_grandtotal" type="TrueLayer\Connect\Plugin\Payment\MethodList" sortOrder="1" disabled="false"/>
    </type>
</config>
