<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="truelayer_connect_order_place_after" instance="TrueLayer\Connect\Observer\OrderPlacedObserver" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="truelayer_connect_creditmemo_save_after" instance="TrueLayer\Connect\Observer\CreditMemoObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="truelayer_connect_payment_method_active" instance="TrueLayer\Connect\Observer\PaymentMethodIsActiveObserver" />
    </event>
</config>