<!--
/**
 * Copyright © TrueLayer Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="tl-payment-method" class="payment-method checkout-widget" data-bind="css: {'is-seamless': config.isSeamless, '_active': isActive()}">

    <span data-bind="if: !config.isSeamless || shouldRedirect()">
        <div class="payment-method-title field choice" >
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>

            <label class="label" data-bind="attr: {'for': getCode()}">Pay by bank app</label>
        </div>
    </span>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <span class="widget-target" data-bind="visible: !shouldRedirect()" afterRender="setup($element)"></span>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="checkout-agreements-block">
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>

