@charcoal80: #646477;
@charcoal100: #1F1F25;
@light-gray: #f4f4f4;
@lavender100: #BBB9FB;

@primary: @lavender100;

@btn-bg: white;
@btn-border: @charcoal100;
@btn-color: @charcoal100;
@btn-hover-bg: @charcoal100;
@btn-hover-color: white;

@btn-secondary-bg: @charcoal100;
@btn-secondary-border: @charcoal100;
@btn-secondary-color: white;
@btn-secondary-hover-bg: lighten(@charcoal100, 10%);
@btn-secondary-hover-color: white;

@text-success-color: #008000;
@text-danger-color: #d85321;