@import './_colors.less';

@import 'module/_btn.less';
@import 'module/_modal.less';

@import './module/_header.less';
@import './module/_debug.less';

@import './_extends.less';

//
//  Tab styles
//  ---------------------------------------------
.truelayer-section span {
  background-image: url('@{baseDir}TrueLayer_Connect/images/logo.svg');
  padding-left: 25px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.admin__menu .item-menu.parent.level-0 > a:before {
  font-size: 2rem;
  padding-top: .2rem;
}