form[action*="truelayer"] {
    .check-credentials-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        .result {
            color: @text-danger-color;
        }

        .result.success {
            color: @text-success-color;
        }
    }
}
