<?xml version="1.0"?>
<!--
/**
 * Copyright © TrueLayer Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<include xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_include.xsd">
    <group id="settings" translate="label" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="1">
        <label>Settings</label>
        <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Title</label>
            <config_path>payment/truelayer/title</config_path>
        </field>
        <field id="description" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Description</label>
            <config_path>payment/truelayer/description</config_path>
        </field>
        <field id="heading_limits" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Limits and Sort Order</label>
            <comment><![CDATA[TrueLayer will only work in the countries that you have originally signed up to with us. If you would like to know more about country availability, please reach out to your Sales rep.]]></comment>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\Design\Heading</frontend_model>
        </field>
        <field id="specificcountry" translate="label" type="multiselect" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment from Specific Countries</label>
            <source_model>TrueLayer\Connect\Model\Config\Source\Countries</source_model>
            <config_path>payment/truelayer/specificcountry</config_path>
        </field>
        <field id="minimum_order_total" translate="label" type="text" sortOrder="53" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Minimum Order Total</label>
            <config_path>payment/truelayer/minimum_order_total</config_path>
            <validate>validate-digits validate-zero-or-greater</validate>
        </field>
        <field id="maximum_order_total" translate="label" type="text" sortOrder="54" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Maximum Order Total</label>
            <config_path>payment/truelayer/maximum_order_total</config_path>
            <validate>validate-digits validate-zero-or-greater</validate>
        </field>
        <field id="sort_order" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Sort Order</label>
            <frontend_class>validate-number</frontend_class>
            <config_path>payment/truelayer/sort_order</config_path>
        </field>
        <field id="heading_emails" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Transactional Emails</label>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\Design\Heading</frontend_model>
            <comment><![CDATA[This function allows you to specify whether you want to send the order and/or invoice email to the client through Magento.]]></comment>
        </field>
        <field id="send_order_email" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Send Order Email</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <config_path>payment/truelayer/send_order_email</config_path>
        </field>
        <field id="send_invoice_email" translate="label" type="select" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Send Invoice Email</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <config_path>payment/truelayer/send_invoice_email</config_path>
        </field>
        <field id="advanced" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced</label>
            <comment><![CDATA[For banking providers below, please outline which type of banks you would like to be displayed to your customers. The default value is retail.]]></comment>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\Design\Heading</frontend_model>
        </field>
        <field id="banking_providers" translate="label" type="multiselect" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Banking Providers</label>
            <source_model>TrueLayer\Connect\Model\Config\Source\BankingProviders</source_model>
            <can_be_empty>1</can_be_empty>
            <config_path>payment/truelayer/banking_providers</config_path>
        </field>
        <field id="heading_hosted_page" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hosted payment page settings</label>
            <comment><![CDATA[You can customise TrueLayer's Hosted Payments Page to align with your brand by using the settings below]]></comment>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\Design\Heading</frontend_model>
        </field>
        <field id="payment_page_primary_color" translate="label" type="text" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Primary Color</label>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\System\Config\Field\ColorPicker</frontend_model>
            <config_path>payment/truelayer/payment_page_primary_color</config_path>
        </field>
        <field id="payment_page_secondary_color" translate="label" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Secondary Color</label>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\System\Config\Field\ColorPicker</frontend_model>
            <config_path>payment/truelayer/payment_page_secondary_color</config_path>
        </field>
        <field id="payment_page_tertiary_color" translate="label" type="text" sortOrder="83" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Tertiary Color</label>
            <frontend_model>TrueLayer\Connect\Block\Adminhtml\System\Config\Field\ColorPicker</frontend_model>
            <config_path>payment/truelayer/payment_page_tertiary_color</config_path>
        </field>
    </group>
</include>
